body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202b38;
    color: #fff;
}
.wrap{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    box-shadow: 0 0 10px #0000003c;
    border-radius: 8px;
}
h1{
    text-align: center;
}
input{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-right: 15px;
    border: none;
    outline: none;
    background-color: #202b38;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form{
    display: flex;
}

form button{
    width: 20%;
    background-color: #040e44;
    color: #fff;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #202b38;
    border-radius: 6px;
    font-size: 18px;
}
li button{
    background-color: inherit;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

#msg{
    background-color: inherit;
    border-radius: 12px;
    font-weight: bolder;
}